<!DOCTYPE html>
<html>

<head>
    <title>{{ restaurant.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>{{ restaurant.name }} Menu</h1> {% for item in items %}
    <div class="menu">
        <p>
            {{ item.name }}
            <br> {{ item.description }}
            <br> {{ item.price }}
            <br>
            <a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">Edit</a>
            <br />
            <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}">Delete</a>
            <br />
        </p>
    </div>
    {% endfor %}
    <a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Create New Menu Item</a>
    <br />
    <a href="{{ url_for('showRestaurant') }}">Back to Restaurant List</a>
</body>

</html>
