<!DOCTYPE html>
<html>

<head>
    <title>All Restaurants</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <a href="{{url_for('disconnect')}}">Click Here to Log Out</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="message"><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% for restaurant in restaurants %}
    <h1>{{ restaurant.name }}</h1>
    <h2><a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">Menu</a></h2>
    <a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
    <br />
    <a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
    <br />
    <br /> {% endfor %}
    <div class="new">
        <a href="/restaurant/new">Create a new restaurant</a>
    </div>
</body>

</html>
