<!DOCTYPE html>
<html>

<head>
	<title>Free and For Sale</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
	<h1>Free and For Sale Catalog</h1>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="message"><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <br>
    {% for item in items %}
        <h1>{{ item.name }} from {{ item.user_relationship.name }}</h1>
        {% if item.price %}
            <div class="price">${{ item.price }}</div>
        {% else %}
            <div class="price">Free</div>
        {% endif %}
        {% if item.description %}
            <p class="description">{{ item.description }}</p>
        {% else %}
            <p class="description">No description provided.</p>
        {% endif %}
        <a href="mailto:{{ item.user_relationship.email }}?Subject=Your%20{{ item.name }}">Contact seller</a>
        <br> <br>
    {% endfor %}
</body>

</html>
